In [5]:
import yn_feature
import pandas as pd
import numpy as np 
import datetime,time

df = pd.DataFrame({
    'cst_id':  [1,2,3,4,5,6]
    ,'dt':  [datetime.datetime(2023,1,1),datetime.datetime(2023,1,1),datetime.datetime(2023,1,1)
            ,datetime.datetime(2023,1,1),datetime.datetime(2023,1,1),datetime.datetime(2023,1,1)
            ]
    ,'x_cat_01': ['a','b','c','d','e','f']
    ,'x_cat_02': ['h','i','j','k','l','m']

    ,'x_num_01': [1,2,3,4,5,6]
    ,'x_num_02': [1,2,3,4,5,6]


})

pd.concat([df,df])

   cst_id         dt x_cat_01 x_cat_02  x_num_01  x_num_02
0       1 2023-01-01        a        h         1         1
1       2 2023-01-01        b        i         2         2
2       3 2023-01-01        c        j         3         3
3       4 2023-01-01        d        k         4         4
4       5 2023-01-01        e        l         5         5
5       6 2023-01-01        f        m         6         6
0       1 2023-01-01        a        h         1         1
1       2 2023-01-01        b        i         2         2
2       3 2023-01-01        c        j         3         3
3       4 2023-01-01        d        k         4         4
4       5 2023-01-01        e        l         5         5
5       6 2023-01-01        f        m         6         6

In [6]:
240/131

1.83206106870229